body{
    background-color: #718483;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
    font-family: 'Noto Sans JP', sans-serif;
}
.jumbotron-custom{
    background-color: #6e8583;
    color: white;
}  
.navbar-custom{
    background-color:  rgb(99, 121, 120);
    color: white;
}
.nav-link-custom{
    color: white;
}
.nav-link-custom:hover{
    color: rgb(203, 221, 220);
}
.card-custom{
    margin: auto;
    background-color: #6e8583;
    color: white;
    border-color: transparent;
}
.card-link-custom{
    color: white;
    font-weight: 500;
    margin: auto;
}
.card-link-custom:hover{
    color: rgb(203, 221, 220);
}
.social{
    padding-top: 5%;
    margin: auto;
}
#instagram, #youtube, #github, #linkedIn{
    font-size: 200%; 
    color:  white;
    transition-duration: 0.4s;
}

#instagram:hover, #youtube:hover, #github:hover, #linkedIn:hover{
    color:   rgb(196, 217, 216);
}